{# precious_cornerstone/UNIVERSITY/templates/registration/password_reset_complete.html #}
{% extends 'UNIVERSITY/base.html' %}
{% load static %}

{% block title %}Password Reset Complete - {{ university_name }}{% endblock title %}

{% block content %}
<div class="auth-page-container">
    <div class="auth-form-card text-center">
        <h2>Password Reset Complete</h2>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <p class="mt-20">
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </p>
    </div>
</div>
{% endblock content %}