{# precious_cornerstone/UNIVERSITY/templates/UNIVERSITY/employee_confirm_delete.html #}
{% extends 'UNIVERSITY/base.html' %}

{% block title %}
    {{ university_name }} - Confirm Delete Employee
{% endblock title %}

{% block content %}
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete employee: <strong>{{ employee.first_name }} {{ employee.last_name }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <a href="{% url 'employee_detail' employee.id %}">No, Cancel</a>
    </form>

    <p><a href="{% url 'employee_list' %}">Back to Employee List</a></p>
{% endblock content %}